<div class="container">
  <div class="columns">
    <div class="column is-6">
      <h6>Introduction</h6>
      <p>
        I'm Giacomo, a visual and digital designer from Turin, Italy.
        At the end of 2009 I graduated in Graphic and Virtual Design at the Politecnico di Torino.
        A few months later I moved to Berlin, where I am currently living and working as Head of Design at Remerge and freelancing sometimes.
        I like coding, human interactions, visual communication and music. I always try to mix all of these passions in my projects in a digital or analogue way.

      </p>
    </div>
    </div>
  </div>
</div>