///// General styles

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  -webkit-overflow-scrolling: touch;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  color: $black;
  background: #f4f3f4;
  overflow-x: hidden;
  padding-bottom: 5em;
}


.container {
  margin-top: 1em;
  position: relative;
  height: 100vh;
}

#cover {
  position: absolute;
  overflow: hidden;
  width: 600px;
  height: 600px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 24px 43px 0px rgba(173,179,192,0.65);
}

//// Cover 02

@keyframes do-levitation {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2em, 1em);
  }
   10% {
    transform: translate(0, 0);
  }
}

.cover-02 {
  font-family: 'Cormorant', serif;
  #cover {
    background: black;
    box-shadow: 0px 24px 43px 0px rgba(173,179,192,0.85);
  }
  .title {
    color: black;
    position: absolute;
    z-index: 1;
    font-size: 1.2rem;
    letter-spacing: 0.4em;
    top: 5%;
    right: 5%;
    text-align: right;
    span {
      font-weight: bold;
      letter-spacing: 0;
      font-size: .8rem;
    }
  }
  .subtract {
    #cover {
      background: white;
    }
    .title {
      color: white;
    }
    .circle {
      mix-blend-mode: multiply;
    }
    .c1 {  background: #00ffff;  
    }

    .c2 {
      background: #ff00ff;
    }

    .c3 {
      background: #ffff00;
    }
  }
}
.circle {
  animation: do-levitation 4.2s alternate ease-in-out infinite;
  mix-blend-mode: screen;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  position: absolute;
  filter: blur(2rem);
}

.c1 {  background: red;  
    left: -137.209px;
    top: -141.597px;
}

.c2 {
  background: #00ff00;
  right: -5rem;
  animation-delay: .2s;
  animation-direction: reverse;
  left: 387.429px;
    top: 220.66px;
}

.c3 {
  left: 90%;
  bottom: 0;
  background: #0000ff;
  animation-delay: .6s;
      left: -265.695px;
    top: -20.9019px;
}


//// Cover 03
.cover-03 { 
  #cover {
    box-shadow: 0px 24px 43px 0px rgba(173,179,192,0.85);
    background: #f857a6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .title {
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    z-index: 0;
    font-size: 5rem;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
  }
  #info {
    display: none;
  }
  canvas {
    position: absolute;
    overflow: hidden;
    width: 600px;
    height: 600px;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 24px 43px 0px rgba(173,179,192,0.45);
  }
}


//// Cover 04
.cover-04 {
  canvas {
    position: absolute;
    z-index: 2;
  }
  #cover {
    position: absolute;
    z-index: 0;
    overflow: hidden;
    width: 600px;
    height: 600px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 24px 43px 0px rgba(173,179,192,0.45);
    background-color: #02a98f;
  }
}

//// Cover 05
.cover-05 {
  #cover {
    background: #0F2027;

  }
}

//// Cover 06
.cover-06 {
  #cover {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    &:after {
      font-family: 'Inconsolata', monospace;
      content: "The National";
      position: absolute;
      background-color: white;
      border-radius: 50%;
      text-align: center;
      color: #485563;
      z-index: 1;
      height: 6rem;
      width: 6rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      line-height: 6rem;
      font-size: .8rem;
    }
  }
  #defaultCanvas0 {
    border: 1px solid #ffff00;
    top: 0;
    left: 0;
    position: relative;
    z-index: 0;
  }
}

.cover-09 {
  canvas {
    position: absolute;
    overflow: hidden;
    width: 600px;
    height: 600px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    box-shadow: 0px 24px 43px 0px rgba(173,179,192,0.45);
    z-index: 1;
  }
  #mouse {
    background-color: white;
    height: 7em;
    width: 7em;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    line-height: 7em;
    display: block;
    text-align: center;
    font-family: "Schwabacher Grotesk";
  }
}

.cover-10 {
  .title {
    font-family: "Halibut Serif";
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50px;
    left: 50px;
    background: #F5C1FB;
    padding: .5em;
    letter-spacing: .3em;
    span {
      display: block;
      font-size: .5em;
      letter-spacing: initial;
    }
  }
}

body.cover-11 {
  touch-action:none;
  content-zooming:none;
  position:absolute;
  #texture {
    position: absolute;
    visibility: hidden;
    width: 600px;
    height: 600px;
  }
  .title {
    width: 600px;
    font-weight: lighter;
    padding: .5em 1em;
    text-align: center;
    font-size: .8rem;
    background-color: black;
    position: absolute;
    top: 51%;
    left: -300px;
    right: 0;
    z-index: 1;
    color: white;
    font-family: "MAZIUS REVIEW 20.09";
    letter-spacing: .1em;
    font-weight: lighter;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
  }

  .title-2 {
    width: 40vh;
    font-weight: lighter;
    padding: .5em 1em;
    text-align: center;
    font-size: 1rem;
    background-color: black;
    position: absolute;
    top: 93%;
    left: 0;
    right: 0;
    z-index: 1;
    color: white;
    font-family: "MAZIUS REVIEW 20.09";
    letter-spacing: .1em;
    font-weight: lighter;
  }
}
